<!-- Bottom Nav -->
<style>
  div {text-align: center;}
  h1 {text-align: center;}
  p {text-align: center;}
  .navbar {
  display: flex;
  justify-content: center;
}
  </style>
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark ">
      <h6 class="display-6 navbar-text text-center">&copy; Copyright 2022. All Rights reserved.</h6>
    </nav>
  </footer>